body {
    text-align: center;
}

.form-control {
    display: inline;
    width: 300px;
}

.list-group {
    display: inline-flex;
    flex-direction: row;
}

.list-group-item {
    border: none;
}

.message.success {
    padding: 10px;
    margin: 10px 0;
    background-color: lightgreen;
    display: block;
}

.message.danger {
    padding: 10px;
    margin: 10px 0;
    background-color: lightcoral;
    display: block;
}